<h1>Customers</h1>
<div>
  <p><i>Select a customer</i></p>
  <ul>
    <li *ngFor="let cust of customers" [ngClass]="{selected: customer===cust}" (click)="customer=cust">{{cust.name}}</li>
  </ul>

  <div *ngIf="customer">
    <h1>{{customer.name}}</h1>
    <p><i> {{customer.name}} is on the {{customer.address.street}} street in {{customer.address.city}} city
        in region {{customer.address.region}} in state {{customer.address.state}}</i></p>
    <br />

    <fieldset>
      <label>Name: </label> <input [(ngModel)]="customer.name" />
    </fieldset>

    <label><input type="checkbox" [(ngModel)]="hideAddress" />Show/Hide Address</label>
    <div [hidden]="hideAddress">
      <fieldset>
        <label>Street: </label> <input [(ngModel)]="customer.address.street" />
      </fieldset>
      <fieldset>
        <label>City: </label> <input [(ngModel)]="customer.address.city" />
      </fieldset>
      <fieldset>
        <label>State: </label>
        <select [(ngModel)]="customer.address.state">
          <option *ngFor="let state of states">{{state}}</option>
        </select>
      </fieldset>
      <fieldset>
        <label>Region: </label>
        <select [(ngModel)]="customer.address.region">
          <option *ngFor="let region of regions">{{region}}</option>
        </select>
      </fieldset>
    </div>
  </div>
</div>